<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div style="margin:20px auto;">
        <a href="/"><i class="fa fa-2x fa-home"></i></a>
      </div>
      <div><img style="margin:20px auto;border-radius:50%;" style="margin-left:auto;margin-right:auto;" src="/assets/images/me.jpg" width="200" class="me"/></div>
      <h1>{{ site.title }}</h1>
      <p class="lead">
        {{ site.description }}. <a href="http://www.goel.im" target="_blank">About Me</a>
      </p>
      <div id="social">
        <a href="http://twitter.com/TheKaranGoel" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
        <a href="http://github.com/karan" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      </div>
    </div>

    <ul class="sidebar-nav">
      <li class="sidebar-nav-item"><a href="/archive.html">Archive</a> <i class="sep fa fa-dot-circle-o"></i> <a href="http://eepurl.com/SRIPT" target="_blank" title="Be the first to know when I make something new.">Email List</a></li>
    </ul>

  </div>
</div>
